html,body{
    background-color: #f5f5f5;
    font-family: Ink Free, serif;
}

body {
    padding-top: 50px;
}

.container-fluid, .row{
    background-color: #f5f5f5;
    font-family: Ink Free, serif;
}
.sidebar {
    padding: 12px;
    background-color: #f5f5f5;
    font-family: Ink Free, serif;
}

form {
    padding-top: 12px;
    font-family: Ink Free, serif;
}

#map-canvas {
    height:100%;
    position: absolute;
    right:0;
}

.navbar-text {
    font-family: Ink Free, serif;
    font-weight: bold;

}

.legend {
    padding-top: 100px;
    padding-bottom: 100px;
}

.source {
    padding-top: 250px;
}


