html,body{
    background-color: #f5f5f5;
    font-family: Gill Sans MT, serif;
}

body {
    padding-top: 50px;
}

.container-fluid, .row{
    background-color: #f5f5f5;
    font-family: Gill Sans MT, serif;
}
.sidebar {
    padding: 12px;
    background-color: #f5f5f5;
    font-family: Gill Sans MT, serif;
}

form {
    padding-top: 12px;
    font-family: Gill Sans MT, serif;
}

#map-canvas {
    height:100%;
    position: absolute;
    right:0;
}

#navbar-brand {
    font-family: Gill Sans MT, serif;

}